{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %} Process Image {% endblock %}
{% block content %}
<div id="process" class="card wow fadeIn">
  <div class="card-body">
    <div class="row" style="margin-bottom:10px;">
      <div class="col">
        <a href="{% url 'images:list' %}" ><i class="fas fa-long-arrow-alt-left"></i> List</a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h4>Original</h4>
          </div>
          <div class="card-body">
            <img src="{{ object.image.url }}" class="img-fluid" alt="">

            <table class="table table-stripped">
              <tr>
                <td>Title</td>
                <td>{{ object.tiltle }}</td>
              </tr>
              <tr>
                <td>Scale</td>
                <td>1:{{ object.scale }}</td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <div class="col-8">
        <button class="btn btn-primary" v-on:click="processClick()">Process</button>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Result</h4>
          </div>
          <div class="card-body">
            <!-- <img src="{{ object.image.url }}" class="img-fluid" alt=""> -->
            <canvas id="canvas" height=100, width=100></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}

{% block extra_javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  var app = new Vue({
    el: "#process",
    methods: {
      processClick: function(){
        var url = "{% url 'images:process-post' object.id %}";
        axios.post(url).
          then(({data}) => {
            var canvas = $("#canvas")[0];
            canvas.height = data.shape.height;
            canvas.width = data.shape.width;
            var context = canvas.getContext("2d");

            data.lines.forEach((item, index) => {
              var [x1, y1, x2, y2] = item[0];
              context.beginPath()
              context.moveTo(x1, y1)
              context.lineTo(x2, y2)
              context.stroke()
            })

          })
      }
    }
  })
</script>

{% endblock %}
